@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  background-color: #08101e;
}

.container-fluid {
  max-width: 100%;
  width: 100%;
  padding: 0px 0px;
  margin: 0 auto;
}

.container {
  max-width: 1240px;
  width: 100%;
  padding: 0px 20px;
  margin: 0px auto;
}

.btn {
  display: none;
}

h1,
h2,
h3 {
  font-size: 48px;
}

h4 {
  font-size: 34px;
}

button {
  padding: 10px 25px;
  background-color: #3A68B8;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  color: #fff;
  border: 0px none;
}
button:hover {
  opacity: 0.4;
}

.subtitle {
  color: #b5b7bb;
  max-width: 474px;
  margin-top: 40px;
}

.navbar {
  min-height: 100px;
  padding: 15px 0px;
  position: relative;
}
.navbar .nav-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-row-align: center;
      align-self: center;
}
.navbar .nav-content .nav-brand a {
  text-decoration: none;
}
.navbar .nav-content .nav-brand a:hover {
  opacity: 0.5;
}
.navbar .nav-content .nav-links nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.navbar .nav-content .nav-links nav ul li {
  list-style: none;
}
.navbar .nav-content .nav-links nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}
.navbar .nav-content .nav-links nav ul li a:hover {
  color: #3A68B8;
  border-bottom: 3px solid #3A68B8;
  padding-bottom: 2px;
}

.info .info-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.info .info-content .info-intro .info-tt {
  color: #3A68B8;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.info .info-content .info-intro h1 {
  color: #fff;
}
.info .info-content .info-intro .info-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 60%;
  margin-top: 50px;
}

.about {
  margin: 110px 0px;
}
.about .about-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about .about-content .about-intro h1 {
  color: #fff;
}
.about .about-content .about-intro p {
  margin-top: 20px;
}
.about .about-content .about-intro button {
  margin-top: 50px;
}
.about .about-content .about-img {
  max-width: 50%;
}
.about .about-slider .about-card {
  max-width: 341px;
  min-height: 341px;
  padding: 20px 20px;
  background-color: #0f1624;
  margin: 30px 30px;
  border-radius: 10px;
}
.about .about-slider .about-card img {
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.about .about-slider .about-card h1 {
  color: #fff;
  margin: 30px auto;
  text-align: center;
  max-width: 256px;
  font-size: 18px;
}
.about .about-slider .about-card p {
  max-width: 341px;
  color: #fff;
  text-align: center;
  margin: 30px auto;
}

footer {
  padding-bottom: 40px;
}
footer .footer-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 2fr 2fr 3fr;
  grid-template-columns: 3fr 2fr 2fr 3fr;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .footer-content .footer-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
footer .footer-content .footer-block h1 {
  font-size: 22px;
  color: #fff;
}
footer .footer-content .footer-block p {
  color: #9c9fa5;
}
footer .footer-content .footer-block .subtitle-p {
  max-width: 300px;
}
footer .footer-content .footer-block a {
  color: #fff;
  margin-top: 20px;
  text-decoration: none;
}
footer .footer-content .footer-block a:hover {
  color: #3A68B8;
}
footer .footer-content .footer-link {
  margin-top: 30px;
}
footer .footer-content .footer-link a {
  color: #8f9298;
  font-weight: 600;
}
footer .developer {
  margin: 40px auto;
  text-align: center;
  padding: 10px 0px;
}
footer .developer hr {
  color: #3A68B8;
  max-width: 100%;
  margin-bottom: 15px;
}
footer .developer a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

@media screen and (max-width: 1240px) {
  .container {
    max-width: 1240px;
    width: 100%;
    padding: 0px 10px;
    margin: 0 auto;
  }

  .info-btns {
    max-width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .info-btns button {
    margin: 15px 0px;
  }

  .about-img img {
    max-width: 90%;
  }
}
@media screen and (max-width: 920px) {
  .container {
    max-width: 920px;
    width: 100%;
    padding: 0px 10px;
    margin: 0 auto;
  }

  h1, h2, h3 {
    font-size: calc(24px + 27.2 * (100vw - 320px) / 920);
  }

  .btn {
    display: block;
    position: absolute;
    right: 120px;
    top: 30px;
  }

  .menu {
    min-height: 100vh;
    background: #0a121f;
    width: 100%;
    position: fixed;
    top: -120%;
    left: 0;
    z-index: 2000;
    padding: 15px 20px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    display: block;
  }
  .menu ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 10px 0px;
  }
  .menu ul li {
    margin: 20px 0px;
    text-align: center;
  }
  .menu ul button {
    max-width: 70%;
    margin: 0px auto;
  }

  .menu-active {
    top: 0;
  }

  .info-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .info-content .info-intro .info-btns {
    max-width: 100%;
    margin: 0px auto;
  }
  .info-content .info-img img {
    max-width: 90%;
    margin: 0px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .about-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about-content .about-intro {
    margin: 0px auto;
    text-align: center;
  }
  .about-content .about-intro p {
    margin: 20px auto;
  }
  .about-content .about-img img {
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 20px auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  footer .footer-content {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  footer .footer-content .footer-two-block {
    margin-top: 70px;
  }
}
@media screen and (max-width: 920px) and (max-width: 740px) {
  .container {
    max-width: 540px;
    width: 100%;
    padding: 0px 13px;
    margin: 0 auto;
  }

  .navbar .nav-content {
    -ms-grid-columns: 1fr 2fr;
    grid-template-columns: 1fr 2fr;
  }

  .btn {
    display: block;
    position: absolute;
    right: 10px;
    top: 30px;
  }

  .info {
    margin: 70px 0px;
  }

  footer .footer-content {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}